{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'myapp/assets/favicon.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="{% static 'myapp/assets/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/assets/css/app.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <title>Python Web Application</title>
</head>
<body>
  <div class="app">
    <header class="app__header">
      <div class="grid">
        <nav class="navbar">
          <div class="navbar-List">
           <a href="{% url 'myapp:home' %}"> <img src="{% static 'myapp/img/logo_vlu.png' %}" alt="" class="navbar-List__logo"></a>
          </div>

          <ul class="navbar-List">
            <li class="navbar-List__item">
              <a href="{% url 'myapp:home' %}" class="navbar-List__item-link ">HOME</a>
              <a href="{% url 'myapp:blog' %}" class="navbar-List__item-link">BLOG</a>
            </li>
          </ul>
          <div class="navbar-List ">
            <div class="navbar-List__item1">
              <button class="navbar-List__button1 button"><a href="{% url 'myapp:login' %}">Sign In</a></button>
              <button class="navbar-List__button2 button"><a href="{% url 'myapp:signup' %}">Sign Up</a></button>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="container__login">
      <div class="grid">
        <form action="{% url 'myapp:find-account' %}" method="post">
          {% csrf_token %}
          <div class="container-login">
            <div class="container-login__Header">
              <h1>Forgetten password Of You</h1>
              <h4>Please commit your email</h4>
              {% for message in messages %}

        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert"></a>
            <b style="color:red;">
                {{ message }}
            </b>
        </div>
        {% endfor %}
            </div>
            <div class="container-login__input">
              <input type="Email" name="Enter" required  placeholder="Enter your Email" class="input__form-control">

            </div>
            <button  class="container-login__button button btn-viet" type="submit" value="submit">
              Submit
            </button>

          </div>
        </form>
      </div>
    </div>

    <footer class="footer">
      <div class="grid">
        <div class="grid__row">
          <div class="grid__column">
              <h3 class="footer-main__heading">
                VLU Team
              </h3>
              <ul class="footer-main__list">
                <li class="footer-main__list-items">
                  Our Services
                </li>
                <li class="footer-main__list-items">
                  Privacy Policy
                </li><li class="footer-main__list-items">
                  Affiliate Programs
                </li>
              </ul>
          </div>
          <div class="grid__column">
            <h3 class="footer-main__heading">
              About Us
            </h3>
            <ul class="footer-main__list">
              <li class="footer-main__list-items">
                Information
              </li>
              <li class="footer-main__list-items">
                Details Project
              </li><li class="footer-main__list-items">
                Bla Bla
              </li>
            </ul>
        </div><div class="grid__column">
          <h3 class="footer-main__heading">
            Dataset
          </h3>
          <ul class="footer-main__list">
            <li class="footer-main__list-items">
              Char
            </li>
            <li class="footer-main__list-items">
              Post
            </li>
            <li class="footer-main__list-items">
              Data
            </li>
            <li class="footer-main__list-items">
              Something
            </li>
          </ul>
      </div><div class="grid__column">
        <h3 class="footer-main__heading">
          Follow Us
        </h3>
        <ul class="footer-main__list">
          <li class="footer-main__list-items footer-icon ">
           <a class="footer-icon__link" href="#"><ion-icon class="footer-icon__items" name="logo-facebook"></ion-icon></a>
           <a class="footer-icon__link" href="#"><ion-icon class="footer-icon__items" name="logo-twitter"></ion-icon></a>
           <a class="footer-icon__link" href="#"><ion-icon class="footer-icon__items" name="logo-instagram"></ion-icon></a>
           <a class="footer-icon__link" href="#"><ion-icon class="footer-icon__items" name="logo-linkedin"></ion-icon></a>
          </li>
        </ul>

    </div>
        </div>
        <span class="footer-main__copyright">
          Bản quyền thuộc về team3ngoi
        </span>
      </div>

    </footer>
  </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>


